.UsersActions {
  margin: 20px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.UsersLeftActions {
  display: flex;
  align-items: center;
}

.UsersRightActions {
  display: flex;
  gap: 10px;
  align-items: center;
}
.UsersLeftActions .UsersSelected {
  color: #666;
  font-size: 0.86rem;
  padding: 3px 12px 3px 0;
  border-right: 1px solid #888;
  margin-right: 10px;
}

.UsersAction {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(228, 229, 235);
  border-radius: 4px;
  margin-right: 10px;
  font-size: 0.8rem;
}

.UsersRightActions .UsersAction {
  margin-right: 0;
}

.UserGroups {
  width: 150px;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  top: 40px;
  border: 1px solid rgb(212 212 216);
  border-radius: 6px;
}
.UserGroups li {
  padding: 10px;
  text-transform: capitalize;
}

.UserGroups li:hover {
  cursor: pointer;
  background-color: rgb(223, 228, 240);
}
