.Hero {
  margin: 70px 20px 20px 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.MainHeading {
  text-transform: capitalize;
  font-size: 1.3rem;
}
.PlusIcon {
  transform: scale(0.7);
}
