.Button {
  text-transform: capitalize;
}
.Primary {
  display: flex;
  align-items: center;
  font-weight: 600;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: rgb(31, 177, 85);
  color: #fff;
}
.FilterButton {
  width: 100%;
  padding: 6px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #333;
  font-weight: 600;
  border-radius: 6px;
}
.AllFilters {
  align-self: center;
  color: rgb(37 99 235);
  background-color: #fff;
  padding: 6px;
}

.UsersAction {
  background-color: transparent;
  padding: 4px;
  color: rgb(75 85 99);
}
.UsersAction.UsersAssignAction {
  padding: 10px;
  font-weight: 600;
}
.UsersAction.UsersUnselectAction {
  font-size: 0.87rem;
  margin-left: -6px;
  text-decoration: underline;
  letter-spacing: -0.03rem;
}
