.SideBarListItem {
  color: rgb(133, 141, 152);
  padding: 6px 0 6px 20px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.9rem;
  letter-spacing: -0.01rem;
  cursor: pointer;
}
.SideBarListItem.ActiveItem {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(22 163 74);
  border-left: 1px solid rgb(22 163 74);
}
