.SideBar {
  background-color: rgb(10, 2, 46);
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}
.SideBar.ShrinkSideBar {
  transform: translateX(-200px);
}
.SideBarLogo {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
.QuickAccess {
  margin: 0 10px 0 0;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.QuickAccessInput {
  width: 90%;
  border-radius: 20px;
  display: inline-block;
  padding: 8px 0 8px 8px;
  font-size: 0.8rem;
  color: rgb(71 85 105);
}
.SearchIcon {
  margin-top: 4px;
  margin-right: 4px;
  color: #666;
}
