.UsersTable {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px 0 15px 50px;
  text-align: left;
  border-block: 1px solid rgb(212 212 216);
  font-size: 0.8rem;
}

th {
  background-color: rgb(244, 247, 254);
  color: rgb(156 163 175);
  text-transform: capitalize;
  font-weight: 600;
}

.UsersTable tbody tr td:first-child {
  display: flex;
  gap: 15px;
  align-items: center;
}

.SelectUserLabel {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: -35px;
  width: 22px;
  height: 22px;
  border: 1px solid rgb(212 212 216);
  border-radius: 4px;
}

.SelectUserInput {
  display: none;
}

.CheckIcon {
  color: transparent;
}

.SelectUserInput:checked + .SelectUserLabel {
  background-color: rgb(31, 177, 85);
}

.SelectUserInput:checked + .SelectUserLabel .CheckIcon {
  color: #fff;
  transform: scale(1.1);
}
